<ion-view title="Reservations">
  <ion-header-bar class="bar-positive">
    <h2 class="title">{{getRestaurantId()}}</h2>
    <div class="pull-left">
      <button ng-click="openTimeModal()" class="button button-energized ion-clock button-custom icon-left">
        &nbsp;Wait Time: {{expectedWait.minutes}} Min
      </button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
    <div class="reservation-list padding">
      <div class="row">
        <div class="col">
          <h4 class="title">Name</h4>
        </div>
        <div class="col">
          <h4 class="title">Check-in Time</h4>
        </div>
        <div class="col">
          <h4 class="title">Party Size</h4>
        </div>
        <div class="col-33 text-middle">
          <h4 class="title">Controls</h4>
        </div>
      </div>
      <ion-item collection-repeat="reservation in reservations" ng-class="getReservationRowClass(reservation)">
        <div class="row">
          <div class="col text-middle">
            {{reservation.customerName}}
          </div>
          <div class="col text-middle">
            {{getDateStringFor(reservation)}}
          </div>
          <div class="col text-middle">
            {{reservation.partySize}}
          </div>
          <div class="col-33 text-middle">
            <div class="reservation-controls">
              <button ng-class="shouldHideNotify(reservation)" ng-click="notifyCustomer(reservation)" class="button button-positive">
                Notify
              </button>
              <button ng-class="shouldHideActions(reservation)" ng-click="seatCustomer(reservation)" class="button button-balanced">
                Seated
              </button>
              <button ng-click="openDetailModal(reservation)" class="button button-stable">
                Details
              </button>
              <button ng-class="shouldHideActions(reservation)" ng-click="closeReservation(reservation)" class="button button-assertive">
                Remove
              </button>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-light">
    <div class="pull-left">
      <h4>Total Open Reservations: {{getTotalOpenReservations()}}</h4>
    </div>
    <button ng-click="openAddModal()" class="button button-balanced ion-plus icon-right pull-right">
      Add &nbsp;
    </button>
  </ion-footer-bar>
</ion-view>
