<ion-view title="Reservations">
  <ion-content padding="true">
    <div class="reservation-list padding">
      <div class="row">
        <div class="col">
          <h4 class="title">Name</h2>
        </div>
        <div class="col">
          <h4 class="title">Party Size</h2>
        </div>
        <div class="col">
          <h4 class="title">Controls</h2>
        </div>
      </div>
      <ion-item collection-repeat="reservation in reservations" ng-class="getReservationRowClass(reservation)">
        <div class="row">
          <div class="col text-middle">
            {{reservation.customerName}}
          </div>
          <div class="col text-middle">
            {{reservation.partySize}}
          </div>
          <div class="col">
            <div ng-hide="reservation.closed" class="reservation-controls">
              <button ng-hide="reservation.seatingNow" ng-click="notifyCustomer(reservation)" class="button button-small">
                Notify
              </button>
              <button ng-click="closeReservation(reservation)" class="button button-small button-balanced">
                Seated
              </button>
              <button ng-click="closeReservation(reservation)" class="button button-small button-assertive">
                Close
              </button>
            </div>
          </div>
        </div>
      </ion-item>
    </div>
    <button ng-click="openModal()" class="button buton-balanced">
      Add Reservation
    </button>
  </ion-content>
</ion-view>
