/* Empty. Add your own CSS if you like */

.reservation-seating {
  background-color: #FFFF99;
}

.reservation-accepted {
  background-color: #91FF6C;
}

.reservation-closed {
  background-color: #DDD;
  font-style: italic;
}

.reservation-open {
  /*background-color: #DDD;*/
}

.text-middle {
  display: flex;
  align-items: center; /* align vertical */
}

.hidden {
  visibility: hidden;
}
